<style>
.body-main {
     background: #ffffff;
     margin-bottom: 30px;
     position: relative;
     font-size: 10px;
     margin:0%;
     padding: 0%;
 }
*{
    direction: rtl;
    padding: 0%;
    margin: 0%;

}
 .main thead {
     background: #ffffff;
     color: #fff
 }

 .img {
     height: 100px
 }

 h1 {
     text-align: center
 }
 td{
     font-size: x-small;
 }
 h6{
     font-size: small
     ;
 }
 th{
     font-size: smaller;
 }
 p{
     font-size: small;
 }
 .left{
     direction: ltr;
 }
 </style>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1 body-main">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12">
                            <div class=" text-center">
                            <h6 class="" style="color: #F81D2D;">یاسین شند</h6>
                            <br/>
                            <h6 class="">قرارداد فروش</h6>
                            </div>
                            <p class="left">09124128553</p>
                            <p class="left"><strong><%= data.date %></p></strong>
                        </div>
                    </div> <br />
                    <div >
                        <div class="col-md-12">
                            <h6 class="text-left"><%= data.username %></h6>
                            <h6 class=""><%= data.phone %></h6>
                        </div>
                    </div> <br />
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <p>سبد</p>
                                    </th>
                                    <th>
                                        <p>تعداد</p>
                                    </th>
                                    <th>
                                        <p>فی</p>
                                    </th>
                                    <th><p>مبلغ</p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(product in data.products){ %>
                                <tr>
                                    <td class="col-6"><%= data.products[product].name %></td>
                                    <td class="col-2"><%= data.products[product].numberof  %>  </td>
                                    <td class="pay col-2"><%= data.products[product].fee %></td>
                                    <td class=" pay col-2"><%= data.products[product].pay  %>  </td>
                                </tr>
                                <% } %>
                                <tr>
                                    <td class="text-right">
                                        <p>مبلغ کل :</p>
                                        <p> مبلغ پرداختی:</p>
                                    </td>
                                    <td>
                                        <p class="pay"><%= data.total  %></p>
                                        <p class="pay"><%= data.totalpay %></p>
                                    </td>                                              
                                </tr>
                                <tr style="color: #F81D2D;">
                                    <td class="text-right">
                                        <p>مبلغ بدهی:</p>
                                    </td>
                                    <td class="text-left">
                                        <p><%= data.debt %><p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="col-md-12 dispaly-flex ">
                            <p>امظاء</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>