<%- include('partials/header'); %>
<style>
  .input {
    border: none;
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    transition: all 200ms ease-in-out;
  }
  .input:focus {
    border: none;
    border: 1px solid rgb(167, 167, 167);
    transition: all 200ms ease-in-out;
    box-shadow: 0px 0px 0px 2px rgba(97, 160, 255, 0.75);
  }
  .btn:active {
    transform: scale(0.9);
    transition: all 200ms ease-in-out;
  }
  .dropdown-divider {
    width: 40%;
    border-top: 1px solid rgb(68, 67, 67);
  }
  .card {
    border-radius: 20px;
  }
</style>
<div class="wraper">
  <div
    class="dashbord input-group container clo-10 col-md-5 d-flex justify-content-center align-items-center flex-column mt-5"
  >
    <div class="container d-flex justify-content-center">
      <h6>ایجاد قرارداد جدید</h6>
    </div>
    <div class="mui-textfield mui-textfield--float-label col-6">
      <input type="text" id="username" />
      <label>نام کاربری</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label col-6">
      <input type="number" id="phone" />
      <label>شماره تماس</label>
    </div>
    <% products.forEach(item=>{ %>
    <div class="card col-6 mt-5">
      <div class="card-header"><%= item %></div>
      <div class="card-body">
        <div class="mui-textfield mui-textfield--float-label col-12">
          <input type="number" class="products" name="<%= item %>" />
          <label for="">تعداد</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label col-12">
          <input type="number" class="fee" name="<%= item %>" />
          <label for="">فی</label>
        </div>
      </div>
    </div>
    <% }) %>
    <p class="total"></p>
    <div class="mui-textfield mui-textfield--float-label col-6">
      <input type="number" id="payment" />
      <label>مبلغ پرداختی</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label col-6">
      <input id="to" type="text" />
      <label>به حساب</label>
    </div>
    <div class="col-12 error text-center"></div>
    <div
      class="container col-12 d-flex justify-content-center align-items-center"
    >
      <button
        id="pay"
        class="btn btn-primary mui-btn mui-btn--primary mt-2 col-3 mt-5"
      >
        محاسبه مبلغ کل
      </button>
      <button
        id="btn"
        class="btn btn-primary mui-btn mui-btn--primary mt-2 col-3 mt-5 disabled"
      >
        ثبت
      </button>
    </div>
  </div>
</div>
<div class="result"></div>
<script>
  const total = document.querySelector(".total");
  const username = document.querySelector("#username");
  const phone = document.querySelector("#phone");
  const payment = document.querySelector("#payment");
  const to = document.querySelector("#to");
  const products = document.querySelectorAll(".products");
  const fee = document.querySelectorAll(".fee");
  const errorset = document.querySelector(".error");
  let output = 0;
  let info;
  document.querySelector("#pay").addEventListener("click", (e) => {
    e.preventDefault();
    fee.forEach((item, index) => {
      if (!item.value == "" && !fee[index].value == "") {
        output += parseInt(item.value) * parseInt(products[index].value);
      }
    });
    total.innerHTML = Intl.NumberFormat("en-US").format(output);
    document.querySelector("#btn").classList.remove("disabled");
  });
  document.querySelector("#btn").addEventListener("click", async (e) => {
    e.preventDefault();
    if (username.value != "" && phone.value != "") {
      if (payment.value == "") payment.value = 0;
      info = {
        username: username.value,
        phone: phone.value,
        payment: parseInt(payment.value),
        to: to.value,
        products: [],
      };
      products.forEach((item, index) => {
        if (!item.value == "" && !fee[index].value == "") {
          info.products.push({
            name: item.name,
            numberof: parseInt(item.value),
            fee: parseInt(fee[index].value),
          });
        }
      });
    } else {
      return (errorset.innerHTML = "لطفا فرم را پر کنید");
    }
    console.log(info);
    if (confirm("قرار داد عقد شود ؟")) {
      const result = await fetch("/createuser", {
        method: "post",
        headers: {
          "content-type": "application/json;charset=utf-8",
        },
        body: JSON.stringify(info),
      });
      if (result.status == 200) {
        document.querySelector(".navbar").style.display = "none";
        document.querySelector(".wraper").style.display = "none";
        document.querySelector(".result").innerHTML = await result.text();
        document.querySelectorAll(".pay").forEach((e) => {
          e.innerHTML = Intl.NumberFormat("en-US").format(e.innerHTML);
        });
        if (confirm("فاکتور پرینت شود")) {
          window.print();
          if (confirm("بازگشت به صفحه  قبلی")) window.location.reload(true);
        }
      } else {
        const errorRef = document.querySelector(".error");
        const error = await result.json();
        errorRef.innerHTML = error.error;
      }
    }
  });
</script>
<%- include('partials/footer'); %>
